#efb-strikethroughButton {
 list-style-image:url(text-strikethrough.png) !important;
}

#efb-strikethroughButton[disabled="true"] {
 list-style-image:url(text-strikethrough-disabled.png) !important;
}

#efb-subscriptButton {
 list-style-image:url(text-subscript.png) !important;
}

#efb-subscriptButton[disabled="true"] {
 list-style-image:url(text-subscript-disabled.png) !important;
}

#efb-superscriptButton {
 list-style-image:url(text-superscript.png) !important;
}

#efb-superscriptButton[disabled="true"] {
 list-style-image:url(text-superscript-disabled.png) !important;
}

#efb-formatcode {
 list-style-image:url(script.png) !important;
}

#efb-formatcode[disabled="true"] {
 list-style-image:url(script-disabled.png) !important;
}

#efb-extra-format {
  -moz-appearance: none;
  color: WindowText;
  margin-left: 3px;
  margin-right: 3px;
}
